:root {
  --color-white: #FFF;
  --color-off-white: #FBE3C1;  // original palette #F3F6F9

  --color-black: #fff;
  --color-gray: #4E5A66; 
  --color-gray-dark: #EE390f; //#ee390f original pallette #06172A
  --color-gray-light: #8B9AA8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #54a1f3;
  --color-blue-lighter: #EE9A28; //original palette #92BCEA
  --color-blue-lightest: #F8E6AC; // original palette #E4ECF2

  --color-primary: #FD7E14; // original pallete #0F70D7
  --color-success: #008081;
  --color-danger: #DF2721;
  --color-warning: #F9B700;  //original palette purple

  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-warning); // original palette --color-primary
  --color-link-hover: #EFA626; // original palette #2687ef

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;
}

